@model IEnumerable<SiteChat3.Models.Discussion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TitreDiscussion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreationDiscussion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionDiscussion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatutDiscussion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatutDiscussion1.LibelleStatutDiscussion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeDiscussion.LibelleTypeDiscussion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TitreDiscussion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreationDiscussion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionDiscussion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatutDiscussion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatutDiscussion1.LibelleStatutDiscussion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeDiscussion.LibelleTypeDiscussion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDiscussion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDiscussion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDiscussion })
        </td>
    </tr>
}

</table>
