@model SiteChat3.Models.Acces

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Acces</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LibelleAcces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibelleAcces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValeurAcces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValeurAcces)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAcces }) |
    @Html.ActionLink("Back to List", "Index")
</p>
