@model SiteChat3.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateEnvoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnvoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TexteMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TexteMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatutMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatutMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discussion.TitreDiscussion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discussion.TitreDiscussion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ton.LibelleTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ton.LibelleTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilisateur.NomUtilisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateur.NomUtilisateur)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMessage }) |
    @Html.ActionLink("Back to List", "Index")
</p>
