<style>
    #boutonDeconnexion{
        display:none;
    }
</style>
@{
    ViewBag.Title = "Home Page";
    

}
    <div class="form-group col-md-3">
        <h2>Inscrivez-vous</h2>
        @using (Html.BeginForm("Inscription", "Home", null, FormMethod.Post, new { id = "formulaireInscription" }))
        {
            @Html.Label("LBNom", "nom:")
            @Html.TextBox("nomInscription", (string)ViewBag.nom, new { @class = "form-control" })
            @Html.Label("LBPrenom", "prénom:")
            @Html.TextBox("prenomInscription", (string)ViewBag.prenom, new { @class = "form-control" })
            @Html.Label("LBEmailInscription", "e-mail:")
            @Html.TextBox("emailInscription", (string)ViewBag.mail, new { @class = "form-control", type = "mail" })
            @Html.Label("LBNumero", "numero de téléphone:")
            @Html.TextBox("numeroInscription", (string)ViewBag.tel, new { @class = "form-control", type = "number" })
            @Html.Label("LBPseudo", "pseudo:")
            @Html.TextBox("pseudoInscription",(string)ViewBag.pseudo, new { @class = "form-control" })
            @Html.Label("LBMDPInscription", "mot de passe:")
            @Html.TextBox("MDPInscription", (string)ViewBag.mdp, new { @class = "form-control", type = "password" })
            @Html.Label("LBMDPConfirmation", "confirmation mot de passe:")
            @Html.TextBox("confirmationMDP", (string)ViewBag.confirmationmdp, new { @class = "form-control", type = "password" })

            <input class="datefield" data-val="true" data-val-required="Date is required"
                   id="dateNaissance" name="dateNaissance" type="date" value=@ViewBag.date />
            @Html.Label("LBCGU", "J'ai lu et j'accepte les conditions générales d'utilisation.")
            @Html.CheckBox("CGU")
            <input type="submit" value="s'inscrire" class="btn btn-success" />

        }
        <p style="color:red;">@ViewBag.messageErreure</p>
    </div>
<div class="form-group col-md-2" >
    <h2>connectez-vous</h2>
    @using (Html.BeginForm("Connexion", "Home", null, FormMethod.Post, new { id = "FormulaireConnexion" }))
    {
        @Html.Label("LBEmail", "email: ")
        @Html.TextBox("mail", "", new { @class = "form-control" })
        @Html.Label("LBMDP", "Mot de passe: ")
        @Html.TextBox("MDP", "", new { @class = "form-control",type="password"})
        
        <input type="submit" value="se connecter" class="form-control" />
    }
    <p style="color:red;">@ViewBag.messageErreureConnexion</p>
</div>
<div class="col-md-5" style="text-align:center;">
    <h2>retrouvez-nous aussi bientôt sur votre smartphone Android</h2>
    <img src="~/Content/Medias/cafard29.png"/>
</div>